<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Ohlcv parameters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <span [mathjax]="eq1">{{eq1}}</span>
    <span [mathjax]="eq2">{{eq2}}</span>
    <span [mathjax]="eq3">{{eq3}}</span>
    <span [mathjax]="eq4">{{eq4}}</span>
  </div>
  <div>
    <mb-katex [equation]="eq1k" [options]="{throwOnError: false, strict: true}"></mb-katex>
    <mb-katex [equation]="eq2k" [options]="{throwOnError: false, strict: true}"></mb-katex>
    <mb-katex [equation]="eq3k" [options]="{throwOnError: false, strict: true}"></mb-katex>
    <mb-katex [equation]="eq4k" [options]="{throwOnError: false, strict: true}"></mb-katex>
  </div>
  <mat-form-field>
    <input type="number" matInput placeholder="Shadow fraction, ρs"
      [(ngModel)]="ohlcvParameters.candlestickShadowFraction" min="0" max="1" step="0.01" required>
    <mat-hint>Length of candlestick shadows as a fraction [0,1] of a mid price.</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Body fraction, ρb" [(ngModel)]="ohlcvParameters.candlestickBodyFraction"
      min="0" max="1" step="0.01" required>
    <mat-hint>Half-length of a candlestick body as a fraction [0,1] of a mid price.</mat-hint>
  </mat-form-field>
  <mat-form-field class="last-form-field">
    <input type="number" matInput placeholder="Volume, υ" [(ngModel)]="ohlcvParameters.volume" min="1" step="1"
      required>
    <mat-hint>The same for all candlesticks.</mat-hint>
  </mat-form-field>
</mat-expansion-panel>