.axis text {
  font-size: 6px;
}

text.symbol {
  fill: #bbbbbb;
}

path.candle {
  stroke: #000000;
}

path.candle.body {
  stroke-width: 0;
}

path.candle.up {
  fill: #00aa00;
  stroke: #00aa00;
}

path.candle.down {
  fill: #ff0000;
  stroke: #ff0000;
}

path.volume {
  fill: #dddddd;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.container {
  padding: 12px;
}
