<div class="sample">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Default</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-sunburst [data]="flareHierarchy"></mb-sunburst>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Flare</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-sunburst [data]="flareHierarchy" [diameter]="'100%'" [tapFunction]="tapFunc" [zoomable]="true" [labelFunction]="nameLabel"></mb-sunburst>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Flare</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-sunburst [data]="flareHierarchy" [diameter]="'100%'" [tapFunction]="tapFunc" [zoomable]="true" [fillFunction]="rainbowRootFill" [labelFunction]="nameLabel"></mb-sunburst>
    </mat-card-content>
  </mat-card>
</div>