<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Square impulse parameters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <mb-katex [expression]="eq1" [options]="options"></mb-katex>&#8203;
    <mb-katex [expression]="eq2" [options]="options"></mb-katex>
  </div>
  <mat-form-field>
    <input type="number" matInput placeholder="Amplitude, α" [(ngModel)]="squareParameters.amplitude" min="4" step="1"
      required>
    <mat-hint>The amplitude of the square impulse, should be positive.</mat-hint>
  </mat-form-field>
  <mat-form-field class="last-form-field">
    <input type="number" matInput placeholder="Minimum value, β" [(ngModel)]="squareParameters.minimalValue" min="1"
      step="1" required>
    <mat-hint>The minimum of the square impulse, should be positive.</mat-hint>
  </mat-form-field>
</mat-expansion-panel>