.hidden {
  height: 0;
  display: none;
  margin: 0;
  padding: 0;
}

mat-form-field {
  margin-right: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

mb-katex {
  margin: 0px;
  // display: block; // comment out  this to show equations in single sequence wrapping over multiple lines
}

div {
  margin-bottom: 16px;
}

.last-form-field {
  margin-bottom: 24px;
}
