<!-- <h1 mat-dialog-title>Business day calendar</h1>
Provides a specific exchange holiday schedule or a general country holiday schedule. -->
<div mat-dialog-content>
  <h3>Target</h3>
  TARGET (Trans-european Automated Real-time Gross settlement Express Transfer system) holiday schedule.
  The holidays (apart from weekends) are: New Year's Day, Good Friday, Easter Monday, Labour Day, Christmas Day, Boxing Day.
<!--  <h2>WeekendsOnly</h2>
  Weekends-only holiday schedule.
  <h2>NoHolidays</h2>
  A no-holidays (physical days) schedule.
  <h2>Euronext</h2>
  The Euronext exchange holiday schedule. The holidays (apart from weekends) are: New Year's Day, Good Friday, Easter Monday, Labour Day, Christmas Day, Boxing Day.
  <h2>UnitedStates</h2>
  The generic US exchange holiday schedule. The holidays (apart from weekends) are: New Year's Day, Martin Luther King's birthday, Presidents' Day, Good Friday, Memorial Day, Independence Day, Labour Day, Thanksgiving Day, Christmas Day.
  Columbus Day and Veterans' Day are excluded.
  <h2>Switzerland</h2>
  The generic Swiss exchange holiday schedule. The holidays (apart from weekends) are: New Year's Day, Berchtoldstag, Good Friday, Easter Monday, Ascension Day, Whit (Pentecost) Monday, Labour Day, National Day, Christmas Eve, Christmas Day, St. Stephen's Day, New Year's Eve.
  <h2>Sweden</h2>
  The generic Swedish exchange holiday schedule. The holidays (apart from weekends) are: New Year's Day, Epiphany Day, Good Friday, Easter Monday, General Prayer Day, Ascension Day, Whit (Pentecost) Monday, Labour Day, National Day, Midsummer Eve, Christmas Eve, Christmas Day, Boxing Day, New Year's Eve.
  <h2>Denmark</h2>
  The generic Danish exchange holiday schedule. The holidays (apart from weekends) are: New Year's Day, Maunday Thursday, Good Friday, Easter Monday, General Prayer Day, Ascension Day, Whit (Pentecost) Monday, Constitution Day, Christmas Eve, Christmas Day, Boxing Day, New Year's Eve.
  <h2>Norway</h2>
  The generic Norwegian exchange holiday schedule. The holidays (apart from weekends) are: New Year's Day, Maunday Thursday, Good Friday, Easter Monday, Labour Day, Constitution Day, Ascension Day, Whit (Pentecost) Monday, Labour Day, National Day, Midsummer Eve, Christmas Eve, Christmas Day, Boxing Day, New Year's Eve. -->
</div>
