<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Quote parameters
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
        <input type="number" matInput placeholder="Spread fraction" [(ngModel)]="quoteParameters.spreadFraction" min="0"
            max="1" step="0.01" required>
        <mat-hint>Ask and bid prices as a fraction of the mid price.</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input type="number" matInput placeholder="Ask size" [(ngModel)]="quoteParameters.askSize" min="1" step="1"
            required>
        <mat-hint>The same for all quotes.</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input type="number" matInput placeholder="Bid size" [(ngModel)]="quoteParameters.bidSize" min="1" step="1"
            required>
        <mat-hint>The same for all quotes.</mat-hint>
    </mat-form-field>
</mat-expansion-panel>