.sample {
  margin: 16px;
  margin-bottom: 0px;
}

.example-card {
  // max-width: 500px;
  margin-bottom: 16px;
}

.replay {
  margin-left: 72px;
  margin-top: 8px;
  vertical-align: top;
}

// mb-swatches {
//   outline: thin solid red !important;
// }
