<div #container class="container"></div>
<!--svg class="wl12px"></svg-->

<mat-expansion-panel expanded="false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{chartTitle}}</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-button-toggle-group #group1="matButtonToggleGroup" class="button-toggle-group" [value]="ohlcvViewType"
    (change)="ohlcvViewType = group1.value">
    <mat-button-toggle [value]="ohlcvViewCandlesticks" class="button-toggle">
      <mat-icon svgIcon="mb-candlesticks" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="ohlcvViewBars" class="button-toggle">
      <mat-icon svgIcon="mb-bars" class="svg-icon"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-slide-toggle class="slide-toggle" [(ngModel)]="viewVolume">Volume</mat-slide-toggle>
  <mat-slide-toggle class="slide-toggle" [(ngModel)]="viewCrosshair">Crosshair</mat-slide-toggle>
</mat-expansion-panel>

<div id="chart"></div>
