<br />
<mat-expansion-panel expanded="false">
  <mat-expansion-panel-header>
    <mat-panel-title>Export to CSV</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field class="long-field">
    <mat-label>Time format</mat-label>
    <mat-select [(value)]="selectedTimeFormat">
      <mat-option *ngFor="let type of timeFormats" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="short-field">
    <mat-label>Decimal digits</mat-label>
    <mat-select [(value)]="selectedDecimalFormat">
      <mat-option [value]="0" selected>All</mat-option>
      <mat-option [value]="1">2</mat-option>
      <mat-option [value]="2">4</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="short-field">
    <mat-label>Description</mat-label>
    <mat-select [(value)]="writeDescription">
      <mat-option [value]="true" selected>Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="short-field">
    <mat-label>Header</mat-label>
    <mat-select [(value)]="writeHeader">
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false" selected>No</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="doDownload()" class="button"
    [disabled]="!canDownload">Download</button>
</mat-expansion-panel>