<div class="table-container">
  <div class="name">{{name}}</div>
  <div class="moniker">{{moniker}}</div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let entity"> {{entity.time | date:'yyyy-MM-dd HH:mm:ss'}} </td>
      </ng-container>
      <ng-container matColumnDef="open" *ngIf="isOhlcv">
        <th mat-header-cell *matHeaderCellDef> Open </th>
        <td mat-cell *matCellDef="let entity"> {{entity.open | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="high" *ngIf="isOhlcv">
        <th mat-header-cell *matHeaderCellDef> High </th>
        <td mat-cell *matCellDef="let entity"> {{entity.high | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="low" *ngIf="isOhlcv">
        <th mat-header-cell *matHeaderCellDef> Low </th>
        <td mat-cell *matCellDef="let entity"> {{entity.low | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="close" *ngIf="isOhlcv">
        <th mat-header-cell *matHeaderCellDef> Close </th>
        <td mat-cell *matCellDef="let entity"> {{entity.close | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="bidPrice" *ngIf="isQuote">
        <th mat-header-cell *matHeaderCellDef> Bid price </th>
        <td mat-cell *matCellDef="let entity"> {{entity.bidPrice | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="askPrice" *ngIf="isQuote">
        <th mat-header-cell *matHeaderCellDef> Ask price </th>
        <td mat-cell *matCellDef="let entity"> {{entity.askPrice | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="bidSize" *ngIf="isQuote">
        <th mat-header-cell *matHeaderCellDef> Bid size </th>
        <td mat-cell *matCellDef="let entity"> {{entity.bidSize | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="askSize" *ngIf="isQuote">
        <th mat-header-cell *matHeaderCellDef> Ask size </th>
        <td mat-cell *matCellDef="let entity"> {{entity.askSize | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="price" *ngIf="isTrade">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let entity"> {{entity.price | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="volume" *ngIf="isOhlcv || isTrade">
        <th mat-header-cell *matHeaderCellDef> Volume </th>
        <td mat-cell *matCellDef="let entity"> {{entity.volume | number:'0.0-4'}} </td>
      </ng-container>
      <ng-container matColumnDef="value" *ngIf="isScalar">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let entity"> {{entity.value | number:'0.0-4'}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns(temporalEntityKind); sticky: true"></tr>
      <tr mat-row *matRowDef="let entity; columns: displayedColumns(temporalEntityKind);" class="row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>