<div #container class="container"></div>
<mat-expansion-panel expanded="false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{chartTitle}}</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-button-toggle-group #group="matButtonToggleGroup" class="button-toggle-group" [value]="ohlcvViewType"
    (change)="ohlcvViewType = group.value" [ngClass]="isOhlcv ? 'shown' : 'hidden'">
    <mat-button-toggle [value]="ohlcvViewCandlesticks" class="button-toggle">
      <mat-icon svgIcon="mb-candlesticks" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="ohlcvViewBars" class="button-toggle">
      <mat-icon svgIcon="mb-bars" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="ohlcvViewLine" class="button-toggle">
      <mat-icon svgIcon="mb-line" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="ohlcvViewArea" class="button-toggle">
      <mat-icon svgIcon="mb-area" class="svg-icon"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group #group2="matButtonToggleGroup" class="button-toggle-group" [value]="scalarViewType"
    (change)="scalarViewType = group2.value" [ngClass]="isScalar ? 'shown' : 'hidden'">
    <mat-button-toggle [value]="scalarViewLine" class="button-toggle">
      <mat-icon svgIcon="mb-line" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="scalarViewDots" class="button-toggle">
      <mat-icon svgIcon="mb-dots" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="scalarViewArea" class="button-toggle">
      <mat-icon svgIcon="mb-area" class="svg-icon"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group #group3="matButtonToggleGroup" class="button-toggle-group" [value]="tradeViewType"
    (change)="tradeViewType = group3.value" [ngClass]="isTrade ? 'shown' : 'hidden'">
    <mat-button-toggle [value]="tradeViewLine" class="button-toggle">
      <mat-icon svgIcon="mb-line" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="tradeViewDots" class="button-toggle">
      <mat-icon svgIcon="mb-dots" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="tradeViewArea" class="button-toggle">
      <mat-icon svgIcon="mb-area" class="svg-icon"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group #group4="matButtonToggleGroup" class="button-toggle-group" [value]="quoteViewType"
    (change)="quoteViewType = group4.value" [ngClass]="isQuote ? 'shown' : 'hidden'">
    <mat-button-toggle [value]="quoteViewBars" class="button-toggle">
      <mat-icon svgIcon="mb-line" class="svg-icon"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="quoteViewDots" class="button-toggle">
      <mat-icon svgIcon="mb-dots" class="svg-icon"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-slide-toggle class="slide-toggle" [(ngModel)]="viewVolume" [ngClass]="!isScalar ? 'shown' : 'hidden'">Volume
  </mat-slide-toggle>
  <mat-slide-toggle class="slide-toggle" [(ngModel)]="viewCrosshair">Crosshair</mat-slide-toggle>
</mat-expansion-panel>
<div id="chart"></div>