<div class="sample">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Material A palettes</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field appearance="fill">
          <mat-label>Digits 7421 only</mat-label>
          <input matInput type="number" [(ngModel)]="paletteSequenceA">
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mb-swatches-select [colors]="palettesA" (selectionChange)="selectionChangedA($event);"></mb-swatches-select>
    </mat-card-content>
    <mat-card-content>
      Selected:
      <mb-swatches [width]="100" [height]="16" [colors]="selectedPaletteA"></mb-swatches>
    </mat-card-content>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>spans</mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngFor="let p of palettesA" style="margin-right:10px">
          <mb-swatches [width]="160" [height]="32" [colors]="p"></mb-swatches>
        </span>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>'7421' sequence</mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngFor="let p of palettesAOrdered" style="margin-right:10px">
          <mb-swatches [width]="160" [height]="32" [colors]="p"></mb-swatches>
        </span>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Material palettes</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field appearance="fill">
          <mat-label>Digits only</mat-label>
          <input matInput type="number" [(ngModel)]="paletteSequence">
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mb-swatches-select [colors]="palettes" (selectionChange)="selectionChanged($event);"></mb-swatches-select>
    </mat-card-content>
    <mat-card-content>
      Selected:
      <mb-swatches [width]="100" [height]="16" [colors]="selectedPalette"></mb-swatches>
    </mat-card-content>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>spans</mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngFor="let p of palettes" style="margin-right:10px">
          <mb-swatches [width]="320" [height]="32" [colors]="p"></mb-swatches>
        </span>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>'9876543210' sequence</mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngFor="let p of palettesOrdered" style="margin-right:10px">
          <mb-swatches [width]="320" [height]="32" [colors]="p"></mb-swatches>
        </span>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>