<div class="sample">
  <mat-card class="example-card">
    <mat-card-content>
      <mat-form-field class="form-field-60">
        <mat-label>width</mat-label>
        <mat-select [(ngModel)]="widthSelected" name="width">
          <mat-option *ngFor="let width of widthArray" [value]="width.value">
            {{width.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-90">
        <mat-label>height</mat-label>
        <mat-select [(ngModel)]="heightSelected" name="height">
          <mat-option *ngFor="let height of heightArray" [value]="height.value">
            {{height.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-60">
        <mat-label>levels</mat-label>
        <mat-select [(ngModel)]="levelsSelected" name="levels">
          <mat-option *ngFor="let levels of levelsArray" [value]="levels">
            {{levels}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-190">
        <mat-label>sumFunc</mat-label>
        <mat-select [(ngModel)]="sumFuncSelected" name="sumFunc">
          <mat-option *ngFor="let sumFunc of sumFuncArray" [value]="sumFunc.value">
            {{sumFunc.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-60">
        <mat-label>sort</mat-label>
        <mat-select [(ngModel)]="sortSelected" name="sort">
          <mat-option *ngFor="let sort of sortArray" [value]="sort">
            {{sort}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-190">
        <mat-label>fillFunc</mat-label>
        <mat-select [(ngModel)]="fillFuncSelected" name="fillFunc">
          <mat-option *ngFor="let fillFunc of fillFuncArray" [value]="fillFunc.value">
            {{fillFunc.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-90">
        <mat-label>fillOpacityFunc</mat-label>
        <mat-select [(ngModel)]="fillOpacityFuncSelected" name="fillOpacityFunc">
          <mat-option *ngFor="let fillOpacityFunc of fillOpacityFuncArray" [value]="fillOpacityFunc.value">
            {{fillOpacityFunc.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-60">
        <mat-label>labelFunc</mat-label>
        <mat-select [(ngModel)]="labelFuncSelected" name="labelFunc">
          <mat-option *ngFor="let labelFunc of labelFuncArray" [value]="labelFunc.value">
            {{labelFunc.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-90">
        <mat-label>labelFill</mat-label>
        <mat-select [(ngModel)]="labelFillSelected" name="labelFill">
          <mat-option *ngFor="let labelFill of labelFillArray" [value]="labelFill">
            {{labelFill}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-90">
        <mat-label>labelFontSizeFunc</mat-label>
        <mat-select [(ngModel)]="labelFontSizeFuncSelected" name="labelFontSizeFunc">
          <mat-option *ngFor="let labelFontSizeFunc of labelFontSizeFuncArray" [value]="labelFontSizeFunc.value">
            {{labelFontSizeFunc.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="rootVisible" color="primary" class="form-field">root</mat-slide-toggle>  
      <mat-slide-toggle [(ngModel)]="zoom" color="primary" class="form-field">zoom</mat-slide-toggle>  
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <mb-icicle [data]="jdkHierarchy" [width]="widthSelected" [height]="heightSelected" [levels]="levelsSelected"
        [sumFunc]="sumFuncSelected" [sort]="sortSelected" [fillFunc]="fillFuncSelected" [fillOpacityFunc]="fillOpacityFuncSelected"
        [zoom]="zoom" [tapFunc]="tapFunc" [labelFunc]="labelFuncSelected" [rootVisible]="rootVisible"
        [labelFill]="labelFillSelected" [labelFontSizeFunc]="labelFontSizeFuncSelected"></mb-icicle>
    </mat-card-content>
    <mat-card-actions>
    {{selectedNodeInfo}}
    </mat-card-actions>
  </mat-card>

</div>