.table-container {
    position: relative;
    // max-height: 700px;
    max-width: 600px;
    overflow: auto;
    margin: 0px;
    //margin-left: 32px;
    padding: 16px;
  }

::ng-deep .mat-horizontal-content-container {
  padding: 0px !important;
}

.mat-step-normal {
  margin-left: 24px;
  margin-right: 24px;
}

.multiline-label {
    white-space: normal;
  }

  mat-button-toggle-group {
    flex-wrap: wrap;
  }