.table-container {
    position: relative;
    // max-height: 700px;
    max-width: 600px;
    overflow: auto;
    margin: 0px;
    margin-left: 32px;
    padding: 16px;
  }

.box {
  margin: 16px;
}

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }

  .example-small-box {
    height: 100px;
    width: 100px;
  }

  .example-large-box {
    height: 300px;
    width: 300px;
  }
