::ng-deep .mat-horizontal-content-container {
  padding: 0px !important;
}

.mat-step-normal {
  margin-left: 24px;
  margin-right: 24px;
}

.multiline-label {
  white-space: normal;
}

mat-button-toggle-group {
  flex-wrap: wrap;
}

.button {
  margin: 16px;
  margin-bottom: 32px;
}
