<div #container class="container"></div>
<mat-horizontal-stepper labelPosition="bottom">
    <mat-step>
        <ng-template matStepLabel><span class="multiline-label">Da&#8203;ta ty&#8203;pe</span></ng-template>
        <p class="mat-step-normal">Selected temporal entity:</p>
        <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="syntheticDataParameters.temporalEntityKind" class="mat-step-normal">
            <mat-button-toggle *ngFor="let type of temporalEntityKinds" [value]="type.toLowerCase()">{{type}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="multiline-label">Se&#8203;l&#8203;e&#8203;ct</span></ng-template>
        <app-mbs-data-generators-synthetic-data-parameters [syntheticDataParameters]="syntheticDataParameters" class="mat-step-wide">
        </app-mbs-data-generators-synthetic-data-parameters>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="multiline-label">Vi&#8203;ew</span></ng-template>
        <p class="mat-step-normal">Execute call here:</p>
        <br />
        <pre class="mat-step-normal">{{ syntheticDataParameters.toJSON() | json }}</pre>
    </mat-step>
</mat-horizontal-stepper>