<div #container class="container"></div>
<mat-tab-group class="mat-elevation-z4">
    <mat-tab label="Chirp">
        <div class="example-small-box mat-elevation-z4">
            Chirp
        </div>
    </mat-tab>
    <mat-tab label="Square">
        <div class="example-small-box mat-elevation-z4">
            Square
        </div>
    </mat-tab>
    <mat-tab label="Sawtooth">
        <div class="example-small-box mat-elevation-z4">
            Sawtooth
        </div>
    </mat-tab>
    <mat-tab label="Sinusoidal">
        <div class="example-large-box mat-elevation-z4">
            Sinusoidal
        </div>
    </mat-tab>
    <mat-tab label="Multi-sinusoidal">
        <div class="example-large-box mat-elevation-z4">
            Multi-sinusoidal
        </div>
    </mat-tab>
    <mat-tab label="Fractional Brownian motion">
        <div class="example-large-box mat-elevation-z4">
            Fractional Brownian motion
        </div>
    </mat-tab>
    <mat-tab label="Geometric Brownian motion">
            <mat-accordion multi="true">
            <app-mbs-data-generators-fractional-brownian-motion-parameters [fractionalBrownianMotionParameters]="fractionalBrownianMotionParameters"></app-mbs-data-generators-fractional-brownian-motion-parameters>
            <app-mbs-data-generators-waveform-parameters [waveformParameters]="waveformParameters"></app-mbs-data-generators-waveform-parameters>
            <app-mbs-data-generators-time-parameters [timeParameters]="timeParameters"></app-mbs-data-generators-time-parameters>
            <app-mbs-data-generators-ohlcv-parameters [ohlcvParameters]="ohlcvParameters"></app-mbs-data-generators-ohlcv-parameters>
            </mat-accordion>
    </mat-tab>
</mat-tab-group>
<br/>
<br/>
<div class="box mat-elevation-z4">
    <app-mbs-data-generators-fractional-brownian-motion-parameters [fractionalBrownianMotionParameters]="fractionalBrownianMotionParameters"></app-mbs-data-generators-fractional-brownian-motion-parameters>
    <app-mbs-data-generators-waveform-parameters [waveformParameters]="waveformParameters"></app-mbs-data-generators-waveform-parameters>
    <app-mbs-data-generators-time-parameters [timeParameters]="timeParameters"></app-mbs-data-generators-time-parameters>
    <app-mbs-data-generators-ohlcv-parameters [ohlcvParameters]="ohlcvParameters"></app-mbs-data-generators-ohlcv-parameters>
    <app-mbs-data-generators-quote-parameters [quoteParameters]="quoteParameters"></app-mbs-data-generators-quote-parameters>
    <app-mbs-data-generators-trade-parameters [tradeParameters]="tradeParameters"></app-mbs-data-generators-trade-parameters>
</div>
<br/>
<br/>
<pre>{{ fractionalBrownianMotionParameters | json }}</pre>
<pre>{{ waveformParameters | json }}</pre>
<pre>{{ timeParameters | json }}</pre>
<pre>{{ ohlcvParameters | json }}</pre>
<pre>{{ quoteParameters | json }}</pre>
<pre>{{ tradeParameters | json }}</pre>
