<div #container class="container"></div>
<br />
Selected value: {{temporalEntityKind}}
<br />
<br />
<mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="syntheticDataParameters.temporalEntityKind">
    <mat-button-toggle *ngFor="let type of temporalEntityKinds" [value]="type.toLowerCase()">{{type}}</mat-button-toggle>
</mat-button-toggle-group>
<!--
<mat-select [(value)]="temporalEntityKind" (change)="temporalEntityKindChanged(group.value)" [compareWith]="compare">
<mat-option *ngFor="let type of temporalEntityKinds" [value]="type">
    {{type}}
</mat-option>
</mat-select>
-->
<br />
<br />
<app-mbs-data-generators-synthetic-data-parameters [syntheticDataParameters]="syntheticDataParameters"></app-mbs-data-generators-synthetic-data-parameters>
<br />
<br />
<pre>{{ syntheticDataParameters | json }}</pre>
<!--
<mat-horizontal-stepper labelPosition="bottom">
    <ng-template matStepperIcon="edit" let-index="index">
        {{index + 1}}
    </ng-template>
    <mat-step>
        <ng-template matStepLabel><span class="multilite-label">Saw&#8203;tooth</span></ng-template>
        <mat-accordion multi="true">
            <app-mbs-data-generators-sawtooth-parameters [sawtoothParameters]="sawtoothParameters">
            </app-mbs-data-generators-sawtooth-parameters>
            <app-mbs-data-generators-waveform-parameters [waveformParameters]="waveformParameters">
            </app-mbs-data-generators-waveform-parameters>
            <app-mbs-data-generators-time-parameters [timeParameters]="timeParameters">
            </app-mbs-data-generators-time-parameters>
            <app-mbs-data-generators-ohlcv-parameters [ohlcvParameters]="ohlcvParameters">
            </app-mbs-data-generators-ohlcv-parameters>
            <app-mbs-data-generators-quote-parameters [quoteParameters]="quoteParameters">
            </app-mbs-data-generators-quote-parameters>
            <app-mbs-data-generators-trade-parameters [tradeParameters]="tradeParameters">
            </app-mbs-data-generators-trade-parameters>
        </mat-accordion>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="multilite-label">fBm</span></ng-template>
        <mat-accordion multi="true">
            <app-mbs-data-generators-fractional-brownian-motion-parameters
                [fractionalBrownianMotionParameters]="fractionalBrownianMotionParameters">
            </app-mbs-data-generators-fractional-brownian-motion-parameters>
            <app-mbs-data-generators-waveform-parameters [waveformParameters]="waveformParameters">
            </app-mbs-data-generators-waveform-parameters>
            <app-mbs-data-generators-time-parameters [timeParameters]="timeParameters">
            </app-mbs-data-generators-time-parameters>
            <app-mbs-data-generators-ohlcv-parameters [ohlcvParameters]="ohlcvParameters">
            </app-mbs-data-generators-ohlcv-parameters>
            <app-mbs-data-generators-quote-parameters [quoteParameters]="quoteParameters">
            </app-mbs-data-generators-quote-parameters>
            <app-mbs-data-generators-trade-parameters [tradeParameters]="tradeParameters">
            </app-mbs-data-generators-trade-parameters>
        </mat-accordion>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="multilite-label">Squ&#8203;a&#8203;re</span></ng-template>
        <mat-accordion multi="true">
            <app-mbs-data-generators-square-parameters [squareParameters]="squareParameters">
            </app-mbs-data-generators-square-parameters>
            <app-mbs-data-generators-waveform-parameters [waveformParameters]="waveformParameters">
            </app-mbs-data-generators-waveform-parameters>
            <app-mbs-data-generators-time-parameters [timeParameters]="timeParameters">
            </app-mbs-data-generators-time-parameters>
            <app-mbs-data-generators-ohlcv-parameters [ohlcvParameters]="ohlcvParameters">
            </app-mbs-data-generators-ohlcv-parameters>
            <app-mbs-data-generators-quote-parameters [quoteParameters]="quoteParameters">
            </app-mbs-data-generators-quote-parameters>
            <app-mbs-data-generators-trade-parameters [tradeParameters]="tradeParameters">
            </app-mbs-data-generators-trade-parameters>
        </mat-accordion>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="multilite-label">Chi&#8203;rp</span></ng-template>
        <mat-accordion multi="true">
            <app-mbs-data-generators-chirp-parameters [chirpParameters]="chirpParameters">
            </app-mbs-data-generators-chirp-parameters>
            <app-mbs-data-generators-waveform-parameters [waveformParameters]="waveformParameters">
            </app-mbs-data-generators-waveform-parameters>
            <app-mbs-data-generators-time-parameters [timeParameters]="timeParameters">
            </app-mbs-data-generators-time-parameters>
            <app-mbs-data-generators-ohlcv-parameters [ohlcvParameters]="ohlcvParameters">
            </app-mbs-data-generators-ohlcv-parameters>
            <app-mbs-data-generators-quote-parameters [quoteParameters]="quoteParameters">
            </app-mbs-data-generators-quote-parameters>
            <app-mbs-data-generators-trade-parameters [tradeParameters]="tradeParameters">
            </app-mbs-data-generators-trade-parameters>
        </mat-accordion>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span class="multilite-label">Si&#8203;nu&#8203;so&#8203;id</span></ng-template>
        <mat-accordion multi="true">
            <app-mbs-data-generators-sinusoidal-parameters [sinusoidalParameters]="sinusoidalParameters">
            </app-mbs-data-generators-sinusoidal-parameters>
            <app-mbs-data-generators-waveform-parameters [waveformParameters]="waveformParameters">
            </app-mbs-data-generators-waveform-parameters>
            <app-mbs-data-generators-time-parameters [timeParameters]="timeParameters">
            </app-mbs-data-generators-time-parameters>
            <app-mbs-data-generators-ohlcv-parameters [ohlcvParameters]="ohlcvParameters">
            </app-mbs-data-generators-ohlcv-parameters>
            <app-mbs-data-generators-quote-parameters [quoteParameters]="quoteParameters">
            </app-mbs-data-generators-quote-parameters>
            <app-mbs-data-generators-trade-parameters [tradeParameters]="tradeParameters">
            </app-mbs-data-generators-trade-parameters>
        </mat-accordion>
    </mat-step>
</mat-horizontal-stepper>
<br />
<br />
<pre>fBm: {{ fractionalBrownianMotionParameters | json }}</pre>
<pre>chirp: {{ chirpParameters | json }}</pre>
<pre>sawtooth: {{ sawtoothParameters | json }}</pre>
<pre>square: {{ squareParameters | json }}</pre>
<pre>sinusoidal: {{ sinusoidalParameters | json }}</pre>
<pre>waveform: {{ waveformParameters | json }}</pre>
<pre>time: {{ timeParameters | json }}</pre>
<pre>ohlcv: {{ ohlcvParameters | json }}</pre>
<pre>quote: {{ quoteParameters | json }}</pre>
<pre>trade: {{ tradeParameters | json }}</pre>
-->
