.sample {
  margin: 16px;
  margin-bottom: 0px;
}

.example-card {
  // max-width: 500px;
  margin-bottom: 16px;
}

.form-field {
  margin-right: 16px;
}

.form-field-60 {
  margin-right: 16px;
  width: 60px;
}

.form-field-80 {
  margin-right: 16px;
  width: 80px;
}

.form-field-90 {
  margin-right: 16px;
  width: 90px;
}

.form-field-190 {
  margin-right: 16px;
  width: 190px;
}

/*
mb-sunburst {
  outline: thin solid red !important;
}
*/