@import '../node_modules/@angular/material/theming';

@import 'app/shared/toolbar/toolbar-theme';
@import 'app/shared/footer/footer-theme';
@import 'app/shared/svg-viewer/svg-viewer-theme';
@import 'app/shared/mbs/data/historical-data-chart-theme';


@mixin app_components_theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  @include toolbar-theme($theme);
  @include footer-theme($theme);
  @include svg-viewer-theme($theme);
  @include historical-data-chart-theme($theme);
}
