@import '~@angular/material/theming';
@import './app_components_theme';

// Include material core styles.
@include mat-core();

// Define the initial theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include app_components_theme($theme);

body {
 font-family: Roboto;
 margin: 0;
 padding: 0;
}
