<div class="sample">
  <mat-card class="example-card">
    <mat-card-content>
      <mat-form-field style="width:300px;margin-right:60px">
        <mat-label>LR instrument</mat-label>
        <mat-select [(value)]="lrInstrument">
          <mat-select-trigger>
            <mb-sparkline [width]="120" [height]="24" [data]="lrInstrument.data" [configuration]="lrFill">
            </mb-sparkline> {{lrInstrument.name}}
          </mat-select-trigger>
          <mat-option *ngFor="let d of lrInstruments" [value]="d">
            <mb-sparkline [width]="120" [height]="24" [data]="d.data" [configuration]="lrFill"></mb-sparkline>
            {{d.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:300px">
        <mat-label>HR instrument</mat-label>
        <mat-select [(value)]="hrInstrument">
          <mat-select-trigger>
            <mb-sparkline [width]="120" [height]="24" [data]="hrInstrument.data" [configuration]="hrFill">
            </mb-sparkline> {{hrInstrument.name}}
          </mat-select-trigger>
          <mat-option *ngFor="let d of hrInstruments" [value]="d">
            <mb-sparkline [width]="120" [height]="24" [data]="d.data" [configuration]="hrFill"></mb-sparkline>
            {{d.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mb-stackiline [width]="'100%'" style="max-width:1200px;" [height]="200" [timeAxis]="['bottom']" [min]="0"
        [valueAxis]="['grid']" [data]="[cashCalculated, hrCalculated, lrCalculated]" [configuration]="[cashFill, hrFill, lrFill]"></mb-stackiline>
    </mat-card-content>

    <mat-card-content>
      <mb-multiline [width]="'100%'" style="max-width:1200px;"  [timeAxis]="['bottom']"  [valueAxis]="['grid']"
        [min]="hrPercentageMin" [max]="hrPercentageMax"
        [data]="[hrPercentage]" [configuration]="[hrPercentageLine]"></mb-multiline>
    </mat-card-content>

    <mat-card-content>
      <div class="rightmargin"><mat-slider [min]="5000" [max]="500000" [step]="5000" [thumbLabel]="false" [(ngModel)]="initialAmount" (input)="initialAmountChanged($event)" color="primary"></mat-slider>&nbsp;Initial amount&nbsp;€{{initialAmount / 1000}}.000</div>

      <div class="rightmargin"><mat-slider [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [(ngModel)]="hrIdeal" (input)="hrIdealChanged($event)" color="primary"></mat-slider>&nbsp;HR&nbsp;ideal&nbsp;{{hrIdeal}}%</div>

      <div class="rightmargin"><mat-slider [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [(ngModel)]="hrThreshold" (input)="hrThresholdChanged($event)" color="primary"></mat-slider>&nbsp;HR&nbsp;threshold&nbsp;{{hrThreshold}}%</div>

      <p>
        <mb-swatches-select class="rightmargin" [colors]="palettes" (selectionChange)="paletteSelectionChanged($event);"></mb-swatches-select>

        <mat-slide-toggle [(ngModel)]="fractionalPositions" color="primary" style="font-size:14px">fractional positions</mat-slide-toggle>  
      </p>
    </mat-card-content>

    <mat-card-content>
      <p>Here be dragons</p>
    </mat-card-content>
  </mat-card>
</div>