<mat-toolbar color="primary" class="header">
  <button mat-button class="sidenav-toggle" (click)="d3Sidenav.toggle()">
    <mat-icon>{{ d3Sidenav.opened ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <span>D3: {{sample.name}}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #d3Sidenav class="mat-elevation-z16" mode="push" fixedInViewport="false" opened="false">
    <mat-nav-list>
      <mat-list-item *ngFor="let s of samples" [routerLink]="'/d3/' + s.route"
        routerLinkActive="sidenav-item-selected" (click)="sample = s; d3Sidenav.close();"
        [class.sidenav-item-selected]="sample == s">
        {{s.name}}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>